.git
.gitignore
.dockerignore
.idea
.vscode
data
**/target/classes
**/target/test-classes
**/target/maven-status
**/target/surefire-reports
**/target/maven-archiver
**/target/original-*.jar
*.iml
*.env
*.sqlite
*.sqlite3
*.db
*.log
*.pem
*.key
*.asc
*.gpg
